.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
.random-button {
    background-color: #7c4dff;
}

.random-button:hover {
    background-color: #651fff;.nav-link:hover {
    transform: scaleX(50rem,50rem);
    }
}

