#root {
  max-width: 75%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loadingMsg{
  margin: 2rem 0;
  transform: scale(2);
}
